<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <php>
        <!-- AWS SQS -->
        <var name="AWS_ACCESS"        value="" />
        <var name="AWS_SECRET"        value="" />
        <var name="AWS_REGION"        value="" />
        <var name="AWS_REGION_DOMAIN" value="" />
        <var name="AWS_QUEUE"         value="" />
        <var name="AWS_VERSION"       value="latest" />
        <!-- File -->
        <var name="FILE_DIRECTORY"    value="" />
        <!-- PRedis -->
        <var name="PREDIS_SERVER"     value="redis" />
    </php>
    <testsuites>
        <testsuite name="WorkerBundle Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
