<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <php>
        <!-- AWS SQS -->
        <var name="AWS_ACCESS" value="" />
        <var name="AWS_SECRET" value="" />
        <var name="AWS_REGION" value="" />
        <var name="AWS_QUEUE"  value="" />
        <!-- PRedis -->
        <var name="PREDIS_SERVER" value="" />
    </php>
    <testsuites>
        <testsuite name="WorkerBundle Test Suite">
            <directory>tests/Riverline/WorkerBundle/DependencyInjection</directory>
            <file>tests/Riverline/WorkerBundle/Provider/MockupTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
